@media (max-width: 1024px) {
  .menu ul {
    font-size: 20px;
    flex-direction: column;
    gap: 1rem;
    margin-top: 20px;
  }
  .btn-header {
    position: static;
    margin: 20px auto;
    display: block;
  }
  #inicio {
    flex-direction: column;
    height: auto;
    padding: 20px 10px;
  }
  .container-text {
    font-size: 18px;
    padding: 20px;
  }
  .container-foto {
    margin-top: 0;
  }
  #carrosel-historia {
    height: auto;
    padding: 20px;
  }
  .container {
    width: 100%;
    padding: 20px;
  }
  .container .card {
    margin: 15px;
  }
  .container-obj {
    flex-direction: column;
    gap: 20px;
  }
  #projetos {
    height: auto;
  }
  .grid-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }
  .cardModal {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
  }
  .cardModal img {
    width: 100%;
    height: auto;
  }
  .modal {
    flex-direction: column;
    padding: 10px;
    max-height: 90vh;
  }
  .modal img {
    width: 100%;
    height: auto;
  }
  #area-video {
    height: auto;
    padding: 20px;
  }
  .btn-veja {
    margin-left: auto;
    margin-right: auto;
  }
  .container-videos {
    flex-direction: column;
    align-items: center;
  }
  .img-video {
    width: 100%;
    height: auto;
  }
  #forms {
    height: auto;
    flex-direction: column;
  }
  .form-container {
    flex-direction: column;
    padding: 20px;
  }
  .contato-info,
  .formulario {
    flex: none;
    width: 100%;
  }
  .contato-info h2,
  .contato-info h3,
  .formulario h2 {
    font-size: 24px;
  }
  .info-item {
    font-size: 16px;
  }
  .redes-sociais img {
    width: 45px;
    height: 45px;
  }
  .formulario input,
  .formulario textarea {
    font-size: 14px;
  }
  .formulario button {
    width: 100%;
  }
}
@media (max-width: 768px) {
    .menu ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 1rem;
    font-size: 20px;
    gap: 1rem;
  }

  .btn-header {
   position: static;
      margin: 20px auto;
      display: block;
      text-align: center;
  }
  .form-container {
    flex-direction: column;
    padding: 1rem;
  }

  .contato-info,
  .formulario {
    width: 100%;
    padding: 05rem;
    box-sizing: border-box;
  }

  .formulario form {
    gap: 0.5rem;
  }

  .formulario input,
  .formulario textarea {
    font-size: 16px;
  }

  .redes-sociais img {
    width: 50px;
    height: 50px;
  }
}